#index
    main
        article
            section.grid1
                display: grid
                grid-template-rows: 1fr 100px
                grid-template-columns: 150px 1fr
                grid-template-areas: "areaA areaB" "areaA areaC"
                height: 100vh
                gap: 5px
                #itemA
                    grid-area: areaA
                    background: #f88
                    padding: 10px
                    align-self: strech
                    justify-self: stretch
                #itemB
                    grid-area: areaB
                    background: #8f8
                    padding: 10px
                    order: 2
                #itemC
                    grid-area: areaC
                    background: #88f
                    padding: 10px
                    order: 1
            section.grid2
                display: grid
                gap: 10px
                // IE11では動作しない
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
                .item
                    border-radius: 10px
                    background: #edf
                    padding: 15px
                    text-align: center