doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title template
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap")
    link(rel="stylesheet", href="./index.css")
  body#index
    main
      article
        section.grid1
            #itemA
              div A
              div AA
              div AAA
            #itemB B
            #itemC C
        section.grid2
            .item A
            .item B
            .item C
            .item D
            .item E
            .item F
            .item G
    script(src="./js/index.js")