doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title template
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap")
    link(rel="stylesheet", href="./index.css")
  body          
      #container
        #itemA A
        #itemB B
        #itemC C
      .grid
        .item A
        .item B
        .item C
        .item D
        .item E
        .item F